img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

body {
  font-family: Verdana;
  background: #A5B9DF;
  color: #ECECEC;
}

h1 {
   color:white;
  text-decoration: underline;
  text-align: center
}

.stateMaps {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

h4 {
  padding-left: 30px;
}

h3 {
  text-align: center;
}

.buttons {
  padding-left: 20px;
}

button {
  border-width: 0px;
  border-radius: 5px;
  background: white;
  width: 100px;
  height: 30px;
  margin: 10px;
  color: #A5B9DF;
}